*{
  font-size: 15px;
}
html{
  height: 100%;
}
body{
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}
#mynav{
  display: flex;
  justify-content: flex-end;
  margin-top: 15px; 
}
#mynav a{
  margin-right: 20px;
}
#mynav a.navprof{
  width: 20px;
  height: 20px;
  background: purple;
  border-radius: 50%;
}
#main_section{
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
#google_trademark{
  text-align: center ;
}
#search_div{
  text-align: center;
  margin-top: 20px;
}
#search_input{
  padding-top: 10px;
  padding-bottom: 10px;
  outline: 0;
  width: 500px;
  border-radius: 15px;
  border: 1px solid #c4c4c4
}
#mybuttons{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.mybutton{
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  background: rgb(231, 231, 231);
}
#lang_offers{
  margin-top: 10px;
  text-align: center;
}
#sub_footer{
  background: #eee;
  border-top: 1px solid black;
  margin-bottom: 0;
}













